// .navbar-lewagon {
//   // justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background-color: white;
  position: fixed;
  height: 50px;
  padding: 0;
  width: 100vw;
  .btn-light{
    --bs-btn-bg: none;
  }

}

.space{
  padding: 35px 0 ;
}
