.new-bookmark-form{
  // border: solid rgba(211, 211, 211, 0.835);
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 13px;
  background: linear-gradient(225deg, #bdd5d6, #e1feff);
  box-shadow:  -5px 5px 100px #869898, 5px -5px 100px #ffffff;
  margin: 50px 0;
  padding: 10px 25px 30px 25px;
}

.create{
  
}
